[Desktop Entry]
Type=Application
Exec=chromium-browser –user-data-dir=~/chromium-browser –kiosk –incognito http://127.0.0.1/exhibition/automatism.html